@import url("../font/klavika-bold-webfont.woff");
@import url("../font/klavika-light-webfont.woff");
@import url("../font/klavika-medium-webfont.woff");
@import url("../font/klavika-regular-webfont.woff");

@font-face {
  font-family: "Klavika bold";
  src: url("../font/klavika-bold-webfont.woff");
}
@font-face {
  font-family: "Klavika light";
  src: url("../font/klavika-light-webfont.woff");
}@font-face {
  font-family: "Klavika medium";
  src: url("../font/klavika-medium-webfont.woff");
}@font-face {
  font-family: "Klavika regular";
  src: url("../font/klavika-regular-webfont.woff");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* animations */
@keyframes addText {
  0%   { opacity: 0.0; margin-top: 10px}
  100% { opacity: 1.0; margin-top: 0   }
}

@keyframes removeText {
  0%   { opacity: 1.0; margin-top: 0   }
  100% { opacity: 0.0; margin-top: 10px}
}


.animate-add {
  opacity: 1.0;
  animation: addText ease 0.5s; 
}

.animate-remove {
 animation: removeText ease 0.5s; 
 opacity: 0.0;
}