body {
  background: #1a1a1a;
}

#container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #1a1a1a;
}


/* image background */
#slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 0;
}


/* arrows */
#arrow-left,
#arrow-right {
  margin: 20px;
  height: 60px;
  width: 30px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  z-index: 100;
}
#arrow-right {
  right: 0%;
}
.line-left,
.line-right {
  width: 154%;
  height: 3px;
  box-sizing: border-box;
  position: absolute;
  background-color: #fff;
  left: -36%;
}
#arrow-right .line-left {
  top: 25%;
  transform: rotate(45deg) translateY(-50%);
}

#arrow-right .line-right {
  top: 75%;
  transform: rotate(135deg) translateY(-50%);
}
#arrow-left .line-left {
  top: 25%;
  transform: rotate(135deg) translateY(-50%);
}

#arrow-left .line-right {
  top: 75%;
  transform: rotate(45deg) translateY(-50%);
}


/* logo */
#logo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 15px 0px 0;
  z-index: 90;
}

#logo svg {
  fill: #fff;
}


/* become */
#become {
  position:relative;
  width: 75%;
  height: 100%;
  background: #1a1a1a;
  text-align: right;
  color: white;
  padding: 10px;
  font-family: "Klavika regular";
  float: right;
}

#become h2 {
  font-family: "Klavika light";
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 45px;
}

#become a {
  color: currentColor;
}

.become-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  line-height: 30px;
  font-size: 18px
}

.become-text i {
  margin-right: 15px;
  margin-left: 20px
}

/* navigator */
#nav {
  position: absolute;
  max-width: 400px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-style: dotted;
  border-color: white;
  border-width: 4px 0px;
  margin: 0 0 12px 12px;
}

#nav div.nav-item {
  float: left;
  color: white;
  width: calc(100% / 10);
  border-style: dotted;
  border-color: white;
  border-width: 0 4px 0 0;
  padding: 1px;
  text-align: center;
  font-family: "Klavika medium";
  position: relative;
  cursor: pointer;
}

#nav div.nav-item:first-child {
  border-width: 0 4px 0 4px;
}

#nav div.nav-active::after {
  content: "";
  position: absolute;
  background: white;
  width: 60%;
  height: 60%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%)
}

@media screen and (max-width: 484px){
  #logo {
    bottom: 42px;
  }
  #nav {
    margin-left: 0px;
  }
}